@import "variable.less";
@import "control";
@import "dashboard";
@import "manage";
@import "configuration";
@import "../../../node_modules/bootstrap/less/bootstrap";

.bg{
  background-color: @main-bg-color;
  color: @main-text-color;
  margin: 0px;
}

.btn-default {
  background-color: @main-bg-color;
  border-color: @main-text-color;
}
.btn-default:focus {
  background-color: @main-bg-color;
  border-color: @main-text-color;
}
.btn-default:hover {
  background-color: @main-text-color;
  border-color: #FFF;
  color: #FFF;
}

.std-bold {
  font-weight: 600;
}

.webend-success {
  color: #15B104;
  font-weight: bold;
}
.webend-error {
  color: #D00000;
  font-weight: bold;
}

.webend-warning {
  background-color: rgba(255, 0, 0, 0.26);
}
