module.exports = `
<div>
  <div class="col-md-6">
    <table class="dashboard-table">
      <tr>
        <td>Current Status:</td>
        <td>running</td>
      </tr>
      <tr>
        <td>Restart Plugin System:</td>
        <td>
          <button type="button" class="btn btn-default"
            (click)="restartPluginSystem()">RESTART</button>
        </td>
      </tr>
      <tr>
        <td>Running Plugins:</td>
        <td>
          <ul>
            <li>Plugin 1</li>
            <li>Plugin 2</li>
            <li>Plugin 3</li>
            <li>Plugin 4</li>
            <li>Plugin 5</li>
          </ul>  
        </td>
      </tr>
      
    </table>
  </div>
  <div class="col-md-6">
    <div class="std-bold">System logs</div>
    <div><pre class="dashboard-logs">{{logs}}</pre></div>
  </div> 
</div>
`