module.exports = `
<div>
  <div class="col-md-6">
    <table class="dashboard-table">
      <tr>
        <td>Current Status:</td>
        <td>
          <webend-status [status]="pluginStatus.webend"></webend-status>
        </td>
      </tr>
      <tr>
        <td>Restart Plugin System:</td>
        <td>
          <div><button type="button" class="btn btn-default"
            (click)="startPluginSystem()"
            *ngIf="!pluginStatus.webend">START</button></div>
          <div><button type="button" class="btn btn-default"
            (click)="restartPluginSystem()"
            *ngIf="pluginStatus.webend">RESTART</button></div>
          <div><button type="button" class="btn btn-default"
            (click)="stopPluginSystem()"
            *ngIf="pluginStatus.webend">STOP</button></div>
        </td>
      </tr>
      <tr>
        <td>Running Plugins:</td>
        <td>
          <ul>
            <li *ngFor="#item of activePlugins">{{item}}</li>
          </ul>  
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <div class="std-bold">System logs</div>
    <div><pre class="dashboard-logs">{{logs}}</pre></div>
  </div> 
</div>
`